<div class="donate-button page-width">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input name="cmd" type="hidden" value="_s-xclick"> 
    <input name="hosted_button_id" type="hidden" value="C47ED6DSY7GKE"> 
    <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="//cdn.shopify.com/s/files/1/0576/7213/8884/files/donate_now.jpg?v=1662043477" type="image" style="max-width:120px;"> 
    <img src="https://www.paypal.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1">
  </form>
</div>   

<style>
  .donate-button  {
    padding:4px 50px 0;
    position:relative;
    text-align:right;    
  }
  .header {padding-top:0 ;}
  @media screen and (max-width: 750px) {
    .donate-button {
      padding-right:10px;
    }
  }
</style>